<div class="btn-group d-flex" role="group" aria-label="Basic example">
  <%- if controller_name != 'sessions' %>
    <%= link_to new_session_path(resource_name), class: "btn btn-primary p-1 text-white" do %>
      <%= fa_icon 'shield-alt' %><br>Log in
    <% end %><br />
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to new_registration_path(resource_name), class: "btn btn-primary p-1 text-white" do %>
    <%= fa_icon 'shield-alt' %><br>Register
    <% end %><br />
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to new_password_path(resource_name), class: "btn btn-primary p-1 text-white" do %>
    <%= fa_icon 'shield-alt' %><br>Forgot password?
    <% end %><br />
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to new_confirmation_path(resource_name), class: "btn btn-primary p-1 text-white" do %>
    <%= fa_icon 'shield-alt' %><br>Didn't get confirmation email?
    <% end %><br />
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to new_unlock_path(resource_name), class: "btn btn-primary p-1 text-white" do %>
    <%= fa_icon 'shield-alt' %><br>Didn't get unblock email?
    <% end %><br />
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %><br />
    <% end %>
  <% end %>
</div>
