<% unless @grade.nil? %><span class='score'><%= number_with_precision @grade, significant: true, precision: 2, separator: ',' %>/20</span><% end %>
<div style="font-weight: bold"><div class="standardized-image-black" style="
  background-image: url('https://i.ibb.co/8DR0wJS/XPLogo-Black.png');
  width: 145px;
  height: 103px;
  background-size: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;"></div>
<p class="text-center"><b>Standardized Experience</b></p>
<p class="text-center"><b>Programa de Treinamento Acadêmico Superior</b></p>
<p class="text-center"><%= @test_name[@quiz.level] %> de <%= @quiz.subject.title %><br>
<div class='border-bottom border-dark border-3'>Duração: <%= @quiz_durations[@quiz.level] %> minutos <div class='float-end d-inline-block'><%=@quiz_start.day%>.<%=@quiz_start.month%>.<%=@quiz_start.year%></div></div>
</p></div>
<p> <%= form_with id: :name, html: { autocomplete: 'off', onsubmit: '' } do |form| %>
    <input type='hidden' name='first_name' value='' id='first_name' />
    <input type='hidden' name='last_name' value='' id='last_name' />
  <% end %>
</p>