<% unless @grade.nil? %><span class='score'><%= number_with_precision @grade, significant: true, precision: 2, separator: ',' %>/20</span><% end %><div id='logoquiz' class='smudge-image'></div>
<p align='center'><b>Standardized Experience</b><br>
<b>Curso:</b> Med. Geral&emsp;<b>Ano lectivo:</b>&emsp;<b>Nível:</b> <%=@quiz.level%>&emsp;<%=@quiz_start.year%>&emsp;<b>Jornada:</b> <%=@quiz.journey.id %><br>
<span style='text-decoration: underline'><b>Disciplina:</b> <%= @quiz.subject.title %>&emsp;<b><%=@test_name[@quiz.level]%></b>&emsp;<b>Data:</b> <%=@quiz_start.day%>/<%=@quiz_start.month%>/<%=@quiz_start.year%>&emsp;<b>Duração:</b> <%=@quiz_durations[@quiz.level]%>min — <%=@quiz_start.hour%>h<%=@quiz_start.min%>m as <%=@quiz_end.hour%>h<%=@quiz_end.min%>m </span> </p>
<p> <%= form_with id: :name, html: { autocomplete: 'off' } do |form| %>
        <% if @quiz.end_time %>
            <span class='input-name'><%= @quiz.first_name %></span>
            <span class='input-code'><%= @quiz.last_name %></span>
        <% else %>
            <%= form.label :name, "Nome: ", class: 'bold'%>
            <%= form.text_field :name, class: 'input-name', id: 'first_name' %>
            <%= form.label :name, "Código: ", class: 'bold'%>
            <%= form.text_field :surname, class: 'input-code', id: 'last_name' %>
        <% end%>
    <% end %>
 </p>