<% unless @grade.nil? %><span class='score'><%= number_with_precision @grade, significant: true, precision: 2, separator: ',' %>/20</span><% end %><div id='logoquiz' class='smudge-image'></div>
<p align='center'><b>Standardized Experience</b><br>
<b>Curso:</b> Med. Geral&emsp;<b>Ano lectivo:</b>&emsp;<b>Nível:</b> <%=@quiz.level%>&emsp;<%=@quiz_start.year%>&emsp;<b>Jornada:</b> <%=@quiz.journey.id %><br>
<span style='text-decoration: underline'><b>Disciplina:</b> <%= @quiz.subject.title %>&emsp;<b><%=@test_name[@quiz.level]%></b>&emsp;<b>Data:</b> <%=@quiz_start.day%>/<%=@quiz_start.month%>/<%=@quiz_start.year%>&emsp;<b>Duração:</b> <%=@quiz_durations[@quiz.level]%>min — <%=@quiz_start.hour%>h<%=@quiz_start.min%>m as <%=@quiz_end.hour%>h<%=@quiz_end.min%>m </span> </p>
<p> <%= form_with id: :name, html: { autocomplete: 'off' } do |form| %>
        <% if @quiz.end_time %>
            <div class="input-group mb-3">
              <span type="text" name="first_name" id="first_name" class="form-control" placeholder="Nome" aria-label="Username"><%= @quiz.first_name %></span>
              <span class="input-group-text">@</span>
              <span type="text" name="last_name" id="last_name" class="form-control" placeholder="Código" aria-label="Server"><%= @quiz.last_name %></span>
            </div>
        <% else %>
            <div class="input-group mb-3">
              <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Nome" aria-label="Username">
              <span class="input-group-text">@</span>
              <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Código" aria-label="Server">
            </div>
        <% end%>
    <% end %>
 </p>