<% unless @grade.nil? %><span class='score'><%= number_with_precision @grade, significant: true, precision: 2, separator: ',' %>/20</span><% end %><div id='logoquiz' class='smudge-image'></div>
<p align='center'><b>Standardized Experience</b><br>
<b>Curso:</b> Med. Geral&emsp;<b>Ano lectivo:</b>&emsp;<b>Nível:</b> <%=@currentQuiz.level%>&emsp;<%=@quizStart.year%>&emsp;<b>Jornada:</b> <%=@currentQuiz.journey%><br>
<span style='text-decoration: underline'><b>Disciplina:</b> <%=@currentQuiz.subject%>&emsp;<b><%=@testName[@currentQuiz.level]%></b>&emsp;<b>Data:</b> <%=@quizStart.day%>/<%=@quizStart.month%>/<%=@quizStart.year%>&emsp;<b>Duração:</b> <%=@quizDurations[@currentQuiz.level]%>min — <%=@quizStart.hour%>h<%=@quizStart.min%>m as <%=@quizEnd.hour%>h<%=@quizEnd.min%>m </span> </p>
<p> <%= form_with id: :name, html: { autocomplete: 'off' } do |form| %>
        <%= form.label :name, "Nome: ", class: 'bold'%>
        <%= form.text_field :name, class: 'input-name' %>
        <%= form.label :name, "Código: ", class: 'bold'%>
        <%= form.text_field :surname, class: 'input-code' %>
    <% end %>
 </p>