<% unless @grade.nil? %><span class='score'><%= @grade %>/20</span><% end %>
<div class="p-2 rounded border border-secondary border-3"><p align='center'><b>SE</b></p>
<p align='center'<b>STANDARDIZED EXPERIENCE</b></p>
<p style='float: left'>Disciplina: <%=@quiz.subject.title%><br>
Curso: Medicina Geral<br>
Variante <%= %w[A B C D].sample %>
</p><p style='float: right'>2º Ano, 1º Semestre: <br>
Ano lectivo: <%=@quiz_start.year%><br>
Data: <%=@quiz_start.day%>/<%=@quiz_start.month%>/<%=@quiz_start.year%>
</p>
<p><br><br><br><br>
<span class='d-block text-center'><%= @test_name[@quiz.level].upcase %></span>
</p></div>
<p> 
<%= form_with id: :name, html: { autocomplete: 'off', onsubmit: '' } do |form| %>
  <% if @quiz.end_time %>
      <span>Nome: </span>
      <span class='form-control' style="font-family: 'Homemade Apple', cursive;color: blue;"><%= @quiz.first_name %><span class="text-white">.</span></span>
      <span>Código: </span>
      <span class='form-control' style="font-family: 'Homemade Apple', cursive;color: blue;"><%= @quiz.last_name %><span class="text-white">.</span></span>
  <% else %>
      <%= form.label :name, "Nome: ", class: 'bold'%>
      <%= form.text_field :name, class: 'form-control', id: 'first_name', style: "font-family: 'Homemade Apple', cursive;color: blue;" %>
      <%= form.label :name, "Código: ", class: 'bold'%>
      <%= form.text_field :surname, class: 'form-control', id: 'last_name', style: "font-family: 'Homemade Apple', cursive;color: blue;" %>
  <% end%>
<% end %>
 </p>