<%= render "navbar"%><head><title><%=@currentQuiz.subject%> | <%=@testName[@currentQuiz.level]%></title></head><div id='page'><div style='padding: 30px'>
    <%= render "format-#{@format}"%>
<%= audio_tag(@ost[@currentQuiz.level][0],autoplay: true, loop: true, id: 'bgm')%>
<%= form_with id: :quiz, html: { autocomplete: 'off' } do |form| %>
    <%= form.hidden_field :quizID, value: @currentQuiz.id %>
        <% @questionObjects.each do |question| %>
            <p><b><%=(@questionObjects.index(question) + 1 ).to_s + '. ' %></b> <%= question.question.html_safe %><br>
            <% %Q(if question.image.attached? %><%=image_tag(question.image.url, class: 'qImage')%> <% end) %> </p>
            <% @type = eval(question.questiontype).sample
            @question = question
            case @type
            when :open
                %><%= form.text_field "answer[#{(@questionObjects.index(question))}]", class: 'input-answer widther' %><%
            when :choice
                sort_choices
                %><%= form.hidden_field "choices[#{(@questionObjects.index(question))}]", value: @choices.to_s %><%

                %><%= form.collection_radio_buttons "answer[#{(@questionObjects.index(question))}][]", @choices, :to_s, :to_s %><%

            when :multichoice
                sort_choices
                %><%= form.hidden_field "choices[#{(@questionObjects.index(question))}]", value: @choices.to_s %><%

                %><%= form.collection_check_boxes "answer[#{(@questionObjects.index(question))}][]", @choices, :to_s, :to_s %><%

            when :veracity
                sort_choices
                %><%= form.hidden_field "choices[#{(@questionObjects.index(question))}]", value: @choices.to_s %><%
                @choices.each do |choose|
                    %><%= form.label choose %><%
                    if question.answer.split("|").include?(choose)
                        %><%= form.select "answer[#{(@questionObjects.index(question))}][]", [["V",choose],["F",""]] %><%
                    else
                        %><%= form.select "answer[#{(@questionObjects.index(question))}][]", [["V",choose],["F",""]] %><%
                    end
                end
                
            when :caption
                question.answer.split("|").each do
                    %><%= form.text_field "answer[#{(@questionObjects.index(question))}][]", class: 'input-answer widther' %><br><%
                end

            when :table

            when :formula

            end
            %><%= form.hidden_field "type[#{(@questionObjects.index(question))}]", value: @type %><%
        end %>
    <br><br><p align=<%=@ending[1]%>><%=@ending[0]%></p><br>
    <%= form.submit "Deliver", class: 'submitBtn' %>
<% end %>
</div></div>
<script>
var fire = '<%=@ost[@currentQuiz.level][1]%>'
</script>