<div id='page'><div style='padding: 30px'>
    <%= render "format-#{@format}"%>

    <%= form.hidden_field :quizID, value: @currentQuiz.id %>
        <% @questionObjects.each do |question| %>
            <p><b><%=(@questionObjects.index(question) + 1 ).to_s + '. ' %></b> <%= question.question %></p>
            <% case eval(question.questiontype).sample
            when :open
                %><%= form.text_field "answer[#{(@questionObjects.index(question))}]" %><%
            when :choice
                @question = question
                sort_choices
                %><%= form.collection_radio_buttons "answer[#{(@questionObjects.index(question))}]", @choices %><%
            when :multichoice
                @question = question
                sort_choices
                @choices.each do |choose|
                    %><%= form.collection_check_boxes "answer[#{(@questionObjects.index(question))}]", @choices %><%
                end
            when :veracity
            
            when :caption
            when :table
            when :formula
            end
        end %>
    <br>
    <%= form.submit "Deliver" %>
<% end %>
</div></div>