<%= render "navbar"%><head><title><%=@current_quiz.subject%> | <%=@test_name[@current_quiz.level]%></title></head><div id='page'><div style='padding: 30px'>
    <%= render "format-#{@format}"%>
<%= audio_tag(@ost[@current_quiz.level][0],autoplay: true, loop: true, id: 'bgm')%>
<%= form_with id: :quiz, html: { autocomplete: 'off' } do |form| %>
    <%= form.hidden_field :quizID, value: @current_quiz.id %>
        <% @question_objects.each do |question|
           @index = @question_objects.index(question)
           @parameters = eval(@answer_objects[@index].parameters)
           @question = question
           @type = @parameters[:type]
           if @parameters[:data] 
                @data = @parameters[:data]
                @in_maths = question.question.count("~")
           else
                @data = false
           end
            %>
            <p><b><%=(@index + 1 ).to_s + '. ' %></b> <%= 
            if @data
                if @in_maths > 0
                    sort_solves                    
                    @que.html_safe  
                else
                    eval(%Q(sprintf("#{question.question.gsub(/#£(.*?)§/,"%g")}",#{@data.join(',')}))).html_safe  
                end
            else 
                question.question.html_safe
            end %>
            <br><% if question.image.attached? %><%=image_tag(question.image.url, class: 'qImage')%> <% end %> </p>
            <% 
            case @type
            when :open
                %><%= form.text_field "answer[#{(@question_objects.index(question))}]", class: 'input-answer widther' %><%
            when :choice
                sort_choices
                %><%= form.hidden_field "choices[#{(@question_objects.index(question))}]", value: @choices.to_s %><%

                %><%= form.collection_radio_buttons "answer[#{(@question_objects.index(question))}][]", @choices, :to_s, :to_s %><%

            when :multichoice
                sort_choices
                %><%= form.hidden_field "choices[#{(@question_objects.index(question))}]", value: @choices.to_s %><%

                %><%= form.collection_check_boxes "answer[#{(@question_objects.index(question))}][]", @choices, :to_s, :to_s %><%

            when :veracity
                sort_choices
                %><%= form.hidden_field "choices[#{(@question_objects.index(question))}]", value: @choices.to_s %><%
                @choices.each do |choose|
                    %><%= form.label choose %><%
                    if question.answer.split("|").include?(choose)
                        %><%= form.select "answer[#{(@question_objects.index(question))}][]", [["V",choose],["F",""]] %><%
                    else
                        %><%= form.select "answer[#{(@question_objects.index(question))}][]", [["V",choose],["F",""]] %><%
                    end
                end
                
            when :caption
                question.answer.split("|").each do
                    %><%= form.text_field "answer[#{(@question_objects.index(question))}][]", class: 'input-answer widther' %><br><%
                end

            when :table

            when :formula
                %><%= form.text_field "answer[#{(@question_objects.index(question))}]", class: 'input-answer widther' %><%
            end
            %><%= form.hidden_field "type[#{(@question_objects.index(question))}]", value: @type %><%
        end %>
    <br><br><p align=<%=@ending[1]%>><%=@ending[0]%></p><br>
    <%= form.submit "Deliver", class: 'submitBtn' %>
<% end %>
</div></div>
<script>
var fire = '<%=@ost[@current_quiz.level][1]%>'
</script>