<%= render "navbar"%><head><title><%=@quiz.subject.title %> | <%=@test_name[@quiz.level]%></title></head><div id='page'><div style='padding: 30px'>
    <%= render "format-#{@format}"%>

  <audio autoplay='autoplay' loop='loop' id="bgm" preload="auto">
      <source src=<%=raw @ost[0][@ost_index] %> type="audio/ogg">
  </audio>
<%= form_with id: :quiz, onsubmit: 'console.log("hi")' , html: { autocomplete: 'off'} do |form| %>
    <%= form.hidden_field :quizID, value: @quiz.id.to_s %>
    <% @quiz.answers.each_with_index do |answer, index| %>
    <p><b><%= index + 1 %>.</b> <%= answer.question.question %>
    <%= input_answer(answer) %>
    </p>
    <% end %>
    <div class="d-grid gap-2 col-7 mx-auto">
      <%= form.submit 'Entregar Teste', class: 'btn btn-dark' %>
    </div>
<% end %>

<script>
var fire = <%= raw @ost[1][@ost_index] %>
</script>