<div id='page'><div style='padding: 30px'>
    <%= render "format-#{@format}"%>

<%= form_with html: { autocomplete: 'off' } do |form| %>
    <%= form.hidden_field :quizID, value: @currentQuiz.id %>
        <% @questionObjects.each do |question| %>
            <p><b><%=(@questionObjects.index(question) + 1 ).to_s + '. ' %></b> <%= question.question.html_safe %></p>
            <% @type = eval(question.questiontype).sample
            case @type
            when :open
                %><%= form.text_field "answer[#{(@questionObjects.index(question))}]" %><%
            when :choice
                @question = question
                sort_choices
                %><%= form.hidden_field "choices[#{(@questionObjects.index(question))}]", value: @choices.to_s %><%

                %><%= form.collection_radio_buttons "answer[#{(@questionObjects.index(question))}]", @choices, :to_s, :to_s %><%

            when :multichoice
                @question = question
                sort_choices
                %><%= form.hidden_field "choices[#{(@questionObjects.index(question))}]", value: @choices.to_s %><%

                %><%= form.collection_check_boxes "answer[#{(@questionObjects.index(question))}]", @choices, :to_s, :to_s %><%

            when :veracity
                @question = question
                sort_choices
                %><%= form.hidden_field "choices[#{(@questionObjects.index(question))}]", value: @choices.to_s %><%
                
                @choices.each do |choose|
                    if question.answer.split("|").include?(choose)
                        %><%= form.select "answer[#{(@questionObjects.index(question))}]", [["V",choose],["F",""]] %><%
                    else
                        %><%= form.select "answer[#{(@questionObjects.index(question))}]", [["V",""],["F",choose]] %><%
                    end
                end
                
            when :caption
                question.answer.split("|").each do
                    %><%= form.text_field "answer[#{(@questionObjects.index(question))}]" %><%
                end

            when :table

            when :formula

            end
            %><%= form.hidden_field "type[#{(@questionObjects.index(question))}]", value: @type %><%
        end %>
    <br>
    <%= form.submit "Deliver" %>
<% end %>
</div></div>