<div id='page'><div style='padding: 30px'>
    <%= render "format-#{@format}"%>

    <%= form_with html: { autocomplete: 'off' } do |form| %>
        <%= form.hidden_field_tag 'quizID', @currentQuiz.id %>
        <% @questionObjects.each do |question| %>
            <p><b><%=(@questionObjects.index(question) + 1 ).to_s + '. ' %></b> <%= question.question %></p>
            <% case eval(question.questiontype).sample %>
            <% when :open %>
                <%= form.text_field :answer, (@questionObjects.index(question)) %>
            <% when :choice %>
            <% when :multichoice %>
            <% when :veracity %>
            <% when :caption %>
            <% when :table %>
            <% when :formula %>
            <% end %>
        <% end %>
        <br>
        <%= form.submit "Deliver" %>
    <% end %>
</div></div>