<%= render "navbar"%><head><title><%=@quiz.subject.title %> | <%=@test_name[@quiz.level]%></title></head><div id='page'><div style='padding: 30px'>
    <%= render "format-#{@format}"%>

  <audio autoplay='autoplay' loop='loop' id="bgm" preload="auto">
      <source src=<%=raw @ost[0][@ost_index] %> type="audio/ogg">
  </audio>
<%= form_with id: :quiz, html: { autocomplete: 'off', onsubmit: ";var first_name = document.getElementById('first_name').value;
    var last_name = document.getElementById('last_name').value;
    document.getElementById('name_first').value = first_name;
    document.getElementById('name_last').value = last_name;" } do |form| %>
    <%= form.hidden_field :quizID, value: @quiz.id.to_s %>
    <%= form.hidden_field :first_name, value: '', id: 'name_first' %>
    <%= form.hidden_field :last_name, value: '', id: 'name_last' %>
    <% @quiz.answers.order(id: :asc).each_with_index do |answer, index| %>
    <p><b><%= index + 1 %>.</b> <%= answer.question.question %>
    <% if answer.question.image.attached? %>
      <br><img src=<%= raw answer.question.image.url %> class="img-fluid">
    <% end %>
    <%= input_answer(answer) %>
    </p>
    <% end %>
    <div class="d-grid gap-2 col-7 mx-auto">
      <%= form.submit 'Entregar Teste', class: 'btn btn-dark' %>
    </div>
<% end %>

<script>
var fire = <%= raw @ost[1][@ost_index] %>
</script>