<head><title><%= @quiz.subject.title %> | Resultados</title></head><nav class='navbar navbar-expand navbar-dark bg-dark py-0'><ul class='navbar-nav'>
    <%=link_to root_path, class: 'nav-link' do %>
        <li id='nav-li-Home' class='nav-item text-white'><%= fa_icon 'arrow-left', class: 'align-middle' %>
        <span class='align-middle'>Retornar</span></li>
    <% end %>

</ul>
    <div id='nav-li-Time' class='text-white p-1 me-0 ms-auto '><%= fa_icon 'clock-o', class: 'align-middle' %> <%= @duration.min %>m <%= @duration.sec %>s</div>
    </nav>
<%= audio_tag(@fanfare, autoplay: true, id: 'fanfare')%>
<div id='page'><div style='padding: 30px'>
    <%= render "format-#{@quiz.format}"%>

    <% @quiz.answers.order(id: :asc).each_with_index do |answer, index| %>
      <% if correct(answer) %>
          <span style='position: relative'><span class='grade'><%=number_with_precision answer.grade, significant: true, precision: 2, separator: ',' %></span></span>
      <% else %>
          <span style='position: relative'><span class='grade'>0,0</span></span>
      <% end %>
      <p><b><%= index + 1 %>.</b> <%= answer.question.question %><br>
      <%= image_tag(answer.question.image.url, class: 'img-fluid') if answer.question.image.attached? %>
      <%= show_correct(answer) %></p>
    <% end %>
        
</div></div>