<nav class='navbar navbar-expand navbar-dark bg-primary px-2'><ul class='navbar-nav'>
<script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
    <%=link_to root_path, class: "px-0 py-0 nav-link #{current_page?(root_path) ? 'active' : ''}" do %>
        <li class='nav-item'>
        <i class="bi bi-arrow-right"></i><span class='align-middle erasable'>Principal</span> </li>
    <% end %>

    <%=link_to question_path, class: "px-0 py-0 nav-link #{current_page?(question_path) || current_page?(subject_path) ? 'active' : ''}" do %>
        <li class='nav-item'>
          <i class="bi bi-data fs-6"></i>
          <span class='align-middle erasable'>Dados</span>
        </li>
    <% end %>

    <%=link_to quiz_path, class: "px-0 py-0 nav-link #{current_page?(quiz_path) ? 'active' : ''}" do %>
        <li class='nav-item'>
        <i class="bi bi-arrow-right"></i><span class='align-middle erasable'>Praticar</span></li>
    <% end %>

    <%=link_to about_path, class: "px-0 py-0 nav-link #{current_page?(about_path) ? 'active' : ''}" do %>
        <li class='nav-item'>
        <i class="bi bi-arrow-right fw-bold"></i><span class='align-middle erasable'>Sobre</span></li>
    <% end %>

</ul>
  <% if current_user %>
    <div class='text-white nav-item navbar-text ms-auto me-0 bold pe-2'><b><%= current_user.username %>
    <%= link_to destroy_user_session_path, method: :delete  do %>
    <%= fa_icon 'sign-out-alt', type: 'solid', class: 'align-middle'%>
    <% end %>
    </b></div>
  <% end %>
</nav>
<div id='page' class="bg-light p-3">
  <%= image_tag('logo', {id: 'standardized-image', draggable: false}) %>