<nav class='navbar navbar-expand navbar-dark bg-primary py-0'><ul class='navbar-nav'>
    <%=link_to root_path, class: "nav-link #{current_page?(root_path) ? 'active' : ''}" do %>
        <li class='nav-item'>
        <%=fa_icon 'home', class: 'align-middle'%> <span class='align-middle erasable'>Principal</span></li>
    <% end %>

    <%=link_to question_path, class: "nav-link #{current_page?(question_path) || current_page?(subject_path) ? 'active' : ''}" do %>
        <li class='nav-item'>
        <%=fa_icon 'clone', class: 'align-middle'%> <span class='align-middle erasable'>Dados</span></li>
    <% end %>

    <%=link_to quiz_path, class: "nav-link #{current_page?(quiz_path) ? 'active' : ''}" do %>
        <li class='nav-item'>
        <%=fa_icon 'edit', class: 'align-middle'%> <span class='align-middle erasable'>Praticar</span></li>
    <% end %>

    <%=link_to about_path, class: "nav-link #{current_page?(about_path) ? 'active' : ''}" do %>
        <li class='nav-item'>
        <%=fa_icon 'question', class: 'align-middle'%> <span class='align-middle erasable'>Sobre</span></li>
    <% end %>

</ul>
    <div class='text-white nav-item navbar-text ms-auto me-0 bold pe-2'><b><%= current_user.username %>
    <%= link_to destroy_user_session_path, method: :delete  do %>
    <%= fa_icon 'sign-out-alt', type: 'solid', class: 'align-middle'%>
    <% end %>
    </b></div>
</nav>
<div id='page'><div class='p-3'>
    <div id='standardized-image'></div>
    <h1 id='standardized-text'>Standardized Experience</h1>