<div id='navbar'><ul>
    <script src='mobile_header.js'></script>
    <%=link_to '/' do %>
        <li id='nav-li-Home'><%=fa_icon 'home'%> Home</li>
    <% end %>

    <%=link_to '/data' do %>
        <li id='nav-li-Data'><%=fa_icon 'file'%> Data</li>
    <% end %>

    <%=link_to '/quiz' do %>
        <li id='nav-li-Practice'><%=fa_icon 'align-left'%> Practice</li>
    <% end %>

    <%=link_to '/about' do %>
        <li id='nav-li-About'><%=fa_icon 'question'%> About</li>
    <% end %>

    <li id='nav-li-Time' class='time li-right'></li>
</ul></div>
<div id='page'>
    <div id='logoimage'></div>
    <h1 id='logotext'>Standardized Experience</h1>




