<div id='navbar'><ul>
    <%=link_to '/' do %>
        <li id='nav-li-Home' class='li-home'><%=fa_icon 'home'%> <span class='erasable'>Home</span></li>
    <% end %>

    <%=link_to 'data' do %>
        <li id='nav-li-Data' class='li-home'><%=fa_icon 'file'%> <span class='erasable'>Data</span></li>
    <% end %>

    <%=link_to '/quiz' do %>
        <li id='nav-li-Practice' class='li-home'><%=fa_icon 'align-left'%> <span class='erasable'>Practice</span></li>
    <% end %>

    <%=link_to '/about' do %>
        <li id='nav-li-About' class='li-home'><%=fa_icon 'question'%> <span class='erasable'>About</span></li>
    <% end %>

    <li id='demo' class='li-home time li-right'><%=Time.now.hour%>h <%=Time.now.min%>m</li>
</ul></div>
<div id='page'>
    <div id='logoimage'></div>
    <h1 id='logotext'>Standardized Experience</h1>