<nav class='navbar navbar-expand-lg navbar-dark bg-primary py-0'><ul class='navbar-nav'>
    <%=link_to '/', class: "nav-link #{current_page?(root_path) ? 'active' : ''}" do %>
        <li class='nav-item'>
        <%=fa_icon 'home', class: 'align-middle'%> <span class='align-middle'>Principal</span></li>
    <% end %>

    <%=link_to '/data/question', class: "nav-link #{current_page?(question_path) || current_page?(subject_path) ? 'active' : ''}" do %>
        <li class='nav-item'>
        <%=fa_icon 'bar-chart', class: 'align-middle'%> <span class='align-middle'>Dados</span></li>
    <% end %>

    <%=link_to '/quiz', class: "nav-link #{current_page?(quiz_path) ? 'active' : ''}" do %>
        <li class='nav-item'>
        <%=fa_icon 'pencil-square-o', class: 'align-middle'%> <span class='align-middle'>Praticar</span></li>
    <% end %>

    <%=link_to '/about', class: "nav-link #{current_page?(about_path) ? 'active' : ''}" do %>
        <li class='nav-item'>
        <%=fa_icon 'question', class: 'align-middle'%> <span class='align-middle'>Sobre</span></li>
    <% end %>

</ul>
    <div class='text-white nav-item navbar-text ms-auto me-0 bold pe-2'><b><%=Time.now.hour%>h <%=Time.now.min%>m</b></div>
</nav>
<div id='page'><div class='p-3'>
    <div id='standardized-image'></div>
    <h1 id='standardized-text'>Standardized Experience</h1>