<div id='navbar'><ul>
    <%=link_to '/' do %>
        <li id='nav-li-Home'><%=fa_icon 'home'%> Home</li>
    <% end %>

    <li id='nav-li-Data'><%=fa_icon 'file'%> Data</li>

    <li id='nav-li-Practice'><%=fa_icon 'reload'%> Practice</li>

    <%=link_to '/about' do %>
        <li id='nav-li-About'><%=fa_icon 'question'%>About</li>
    <% end %>

    <li id='nav-li-Time' class='time li-right'></li>
</ul></div>
<div id='page'>
    <div id='logoimage'></div><h1 id='logotext'>Standardized Experience</h1>




