<head><title>Desafios | SE</title></head><%= render 'shared/header' %><%= render 'shared/nav_home' %>
<p><b style='font-size: 30px;'>O que é isto?</b>
<br>
<span style='display: inline-block; color: white; background-color: #0051B5; padding: 0px 4px; border-radius: 3px; font-weight: bold'>
<%= @challenges.each do |challenge| %>
<b>Estado: </b> <%= challenge.completion == 1 ? 'Completo!' : 'Aberto' %>
<% end %>
<p style='text-align: center'><b>Happy studying!</b></p>
</div>
<%= render 'shared/footer' %>