<head><title>Classroom | SE</title>
</head><%= render 'shared/header' %>
<%= nav(to: 'home') %>
<%= render "shared/notification" %>

<%= audio_tag('class/Shadow/lobby', autoplay: true, loop: true) %>
<div class="p-3">
  <%= image_tag(%w[school_class_woman_aseru school_love_teacher_woman school_kataomoi_kyoushitsu_boy
                  kaigi_mask_hakui school_test_seifuku_boy toshokan_benkyou classroom school_sotsuron_shimekiri_man
                  school_sotsuron_shimekiri_woman school_sensei_kokuban].sample, class: 'float-end') %>
  <div>
    Welcome, student. Sit down, the lesson's about to begin!<br><br>
    Your last session's rating was <strong><%= @lesson.grade.downcase %></strong>, about the tag <strong>"<%= @lesson.tag %>"</strong>.<br><br>
    <%= Misc::Text.classroom(@lesson.quiz.grade) %><br><br>
    Choose a subject and a tag to start.<br>
  </div>
</div>

<%= react_component('SelectClass', {subjects: @subjects, auth_token: form_authenticity_token}) %>

<%= render 'shared/footer' %>