<head><title>Sala de Aulas | SE</title>
</head><%= render 'shared/header' %>
<%= render 'shared/nav_home' %>

<%= audio_tag('class/Shadow/lobby', autoplay: true, loop: true) %>
<div class="p-3">
  <%= image_tag(%w[school_class_woman_aseru school_love_teacher_woman school_kataomoi_kyoushitsu_boy
                  kaigi_mask_hakui school_test_seifuku_boy toshokan_benkyou classroom school_sotsuron_shimekiri_man
                  school_sotsuron_shimekiri_woman school_sensei_kokuban].sample, class: 'float-end') %>
  <div>
    Bem vindo, aluno. Sente-se, que a aula está para começar!<br><br>
    O seu aproveitamento da sua última sessão foi <strong><%= @lesson.grade.downcase %></strong>, sobre o tema <strong>"<%= @lesson.tag %>"</strong>.<br><br>
    <%= Misc::Text.classroom(@lesson.quiz.grade) %><br><br>
    Selecione uma cadeira e um tema para começar a aula.<br>
  </div>
</div>

<%= react_component('SelectClass', {subjects: @subjects, auth_token: form_authenticity_token}) %>

<%= render 'shared/footer' %>