<head><title>Data | SE</title></head><%=render 'header'%>
<p><b>Create a new question for Anatomy.</p>
<%= form_with do |form| %>
    <%= form.hidden_field :level, value: 2 %>
    <%= form.label :question, "Question:" %>
    <%= form.text_field :question, required: true %>
    <%= form.label :answer, "Answer:" %>
    <%= form.text_field :answer, required: true  %>
    <%= form.label :choices, "Choices:" %>
    <%= form.text_field :choices %>
    <p><b>Will this be for Theorical or Practical?</b></p>
    <%= form.label :subject, "Anatomia Humana II(Pr치tica)"%>
    <%= form.radio_button :subject, "Anatomia Humana II(Pr치tica)" %>
    <%= form.label :subject, "Anatomia Humana II(Te칩rica)"%>
    <%= form.radio_button :subject, "Anatomia Humana II(Te칩rica)" %>
    <p><b>Select the type.</b></p>
    <%= form.select :type, %W([:open] [:choice] [:multichoice] [:caption])%>
    <%= form.submit "Submit question"%>
<% end %>
</div>