<head><title>Data | SE</title></head><%=render 'header'%>
<p><b>Create a new question.</b>--<%=cookies[:choices]%></p>
<%= form_with html: { autocomplete: 'off' } do |form| %>
    <%= form.label :question, "Question:"%>
    <%= form.text_field :question, required: true, class: 'input-data'  %><br>
    <%= form.label :image, fa_icon('plus'), id: 'haer' %>
    <%= form.file_field :image %>
    <%= form.label :old_image, 'Would you like to use the previous image?'%>
    <%= form.check_box :old_image %><br>
    <%= form.label :answer, "Answer:" %>
    <%= form.text_field :answer, required: true, class: 'input-data'   %><br>
    <div id='choices'></div>
    <div id='questiontype'></div><br>
    <%= form.label :subject, "For which subject?" %>
    <%= form.collection_select :subject, @subjects, :title, :title, selected: cookies[:subject] %>
    <div id='levels'></div>
    <div id='parameters'></div><br>
    <%= form.submit "Submit question", class: 'submitBtn' %>
<% end %>
<% if cookies[:level] != nil && cookies[:type] != nil && cookies[:choices] != nil %>
<% @arr = [':open',':choice',':multichoice',':veracity',':caption',':table',':formula'] %>
<% @index = @arr.index(cookies[:type]) %>
<script>
var level = <%= cookies[:level].to_i %>;
var type = <%= @index %>
var type_choice = "<%= @arr[@index] %>"
var choices = <%= cookies[:choices] %>;
</script>
<% else %>
<script>
var level = 1;
var type = 0;
var type_choice = ":open";
var choices = 0;
</script>
<% end %>
</div>
