<head><title>Data | SE</title></head><%=render 'header'%>
<p><b>Create a new question.</b></p>
<%= form_with html: { autocomplete: 'off' } do |form| %>
    <%= form.label :question, "Question:"%>
    <%= form.text_field :question, required: true, class: 'input-data'  %>
    <%= form.label :image, "Image:" %>
    <%= form.text_field :image %><br>
    <%= form.label :answer, "Answer:" %>
    <%= form.text_field :answer, required: true, class: 'input-data'   %><br>
    <%= form.label :choices, "Choices:" %>
    <%= form.text_field :choices, class: 'input-data'  %><br>
    <div id='questiontype'></div><br>
    <%= form.label :subject, "For which subject?" %>
    <%= form.collection_select :subject, @subjects, :title, :title, selected: cookies[:subject] %>
    <div id='levels'></div><br>
    <%= form.submit "Submit question", class: 'submitBtn' %>
<% end %>
<% if cookies[:level] != nil && cookies[:type] != nil %>
<% @arr = [':open',':choice',':multichoice',':veracity',':caption',':table',':formula'] %>
<% @index = @arr.index(cookies[:type]) %>
<script>
var level = <%= cookies[:level].to_i %>;
var type = <%= @index %>
var type_choice = <%= @arr[@index] %>
</script>
<% else %>
<script>
var level = 1;
var type = 0;
var type_choice = ':open';
</script>
<% end %>
</div>
