<head><title>Home | SE</title>
</head><%= render 'shared/header' %>
<%= nav(to: 'home') %>
<%= render "shared/notification" %>

<%= # audio_tag(@ost, autoplay: true, loop: true, id: 'bgm') %>

<% if @pop_quiz.exists? %>
  <%= render 'home/components/tip' %>
<% end %>

<%= @last_quiz %>

<p><strong><h5><span id="journey-level"><%= @progress %></span></h5></strong>

<%= react_component('JourneyBar', {startTime: @start_time, chairsNum: @chairs, csrf_token: form_authenticity_token}) %>

<span id="journey-cheer"><%= Misc::Text.cheer[@journey.level].sample %></span></p>

<div data-turbo="false">
  <% if @journey %>
    <div style="overflow: auto; max-width: 100%;">
      <%= journey_table(@journey) %>
    </div>
  <% end %>
</div>

<%= render 'shared/footer' %>