<head><title>Home | SE</title></head><%=render 'header'%>
<p>Your last test was of <%= Quiz.last.subject %>, with a score of :NIL:.<br>:NIL:</p>
<p><%=link_to '/quiz/?level=0' do %>
<strong>Practice some more!</strong>
<% end %> </p>
<p><strong>Tip: </strong> <%= @tip.question %><br><%= @tip.answer %> </p>
<%=audio_tag((@ost), autoplay: true, loop: true)%>
<% if Statistic.last.activejourneyid == 0 %>
    <%= form_with do |form| %>
    You're not undergoing any journeys at this time. <%= form.submit 'Click here to begin one!' %>
    <% end %>
<% else %>
<p> <strong>Level <%= @journeyProgress %></strong><br>
 <%= @cheer[@journeyProgress].sample %></p>
 <% end %>