<head><title>Home | SE</title></head><%=render 'header'%>
<p><%= @last_quiz %></p>
<% unless @tip.empty? %><p><strong>Tip: </strong> <%= @tip.question %><br><%= @tip.answer %> </p><% end %>
<% if @journey_check %>
<%=audio_tag(@ost, autoplay: true, loop: true)%>
WELL HELLO THERE BAYBEEEE!!!
<% else %>
    <%= form_with do |form| %>
    You're not undergoing any journeys at this time. <%= form.submit 'Click here to begin one!' %>
    <% end %>
 <% end %>
<p> <strong>Level <%= @journeyProgress %></strong><br>
 <%= Misc::Text.cheer[1].sample %></p>