<head><title>Principal | SE</title></head><%=render 'header'%>
<p><%= @last_quiz %></p>
<% unless @tip.empty? %><p><strong>Dica: </strong> <%= @tip.first.question %><br><%= @tip.first.answers.sample %> </p><% end %>
<% if [0,7].include? @journey.level %>
  <%= form_with do |form| %>
    Você não está em nenhuma jornada agora. <%= form.submit 'Clique aqui para iniciar uma!', class: 'inherit' %>
  <% end %>
<% else %>
  <p><strong>Nível <%= @journey.level %></strong><br>
  <%= Misc::Text.cheer[@journey.level].sample %></p>
<% end %>
<% if @journey_check %>
  <%= audio_tag(@ost, autoplay: true, loop: true)%>
  <%= journey_table(@journey) %>
<% end %>