<head><title>Classe | SE</title></head><%= render 'shared/header' %><%= render 'shared/nav_home' %>
<p style='float: left; margin-right: 20px;'><%= image_tag 'classroom.png', alt: 'Classe', title: 'Classe' %>
<h1>Bem vindo a Classe!</h1>
</p>
<%= link_to 'Começar a aula', lessons_path, class: 'btn btn-primary' %>
<div id="classroom"></div>
<p style='text-align: center'><b>Happy studying!</b></p>
</div>
<%= render 'shared/footer' %>