<head>
  <title>Questões | SE</title>
</head>

<%= render 'shared/header' %>
<%= render 'shared/nav_data' %>
<%= react_component('Questions', {auth_token: @auth_token}) %>
<br></div>
<div class='bg-primary p-2 text-white align-middle'><b><%= fa_icon 'comment', class: 'align-middle'%> Questões Definidas</b></div>
<%= render 'shared/footer' %>