<head><title>Estatísticas | SE</title></head><%=render 'header'%><%= render 'nav_data' %>

Questões totais: <%= Question.all.size %><br>
Questões encontradas: <%= @stats[0] %><br>
Acertos: <%= @stats[1]%>/<%= @stats[0] %><br>
Erros: <%= @stats[2]%>/<%= @stats[0] %><br>
<br>
Disciplinas: <%= Subject.all.size %><br>
Cadeiras aprovadas: <%= Chair.all.filter { |chair| media(chair).to_i >= 9.5 }.size %><br>
Cadeiras reprovadas: <%= Chair.all.filter { |chair| media(chair).to_i < 9.5 }.size %><br>
<br>
Classes atendidas: ?<br>
Classes mal-feitas: ?<br>
Classes com perfomance excelente: ?<br>
<br>
Professores que o odeiam: ?<br>
Professiores que o adoram: ?<br>
<br>
Dinheiro arrecadado: ?<br>
Dinheiro poupado: ?<br>
Recorrências atendidas: ?<br>
<br>
Semestres simulados: <%= Journey.all.size %><br>
Progresso da Campanha: ?

</div>