<head><title>Estatísticas | SE</title></head><%= render 'shared/header' %><%= render 'shared/nav_data' %>

Questões totais: <%= Question.all.size %><br>
Questões encontradas: <%= @stats[0] %><br>
Acertos: <%= @stats[1]%>/<%= @stats[2] + @stats[1] %><br>
Erros: <%= @stats[2]%>/<%= @stats[2] + @stats[1] %><br>
<br>
Disciplinas: <%= Subject.all.size %><br>
Cadeiras aprovadas: <%= Chair.all.filter { |chair| media(chair).to_i >= 9.5 }.size %><br>
Cadeiras reprovadas: <%= Chair.all.filter { |chair| media(chair).to_i < 9.5 }.size %><br>
<br>
Simulações: <%= Journey.all.size %><br>

<div id="quizzes" class="display-flex">
	<% @quizzes.each do |quiz| %>
		<div class="card"><b><%= quiz.subject.title %></b><br>
			<span class="text-danger"><b><%= grade(quiz, true) %><b></span>
		</div>
	<% end %>
</div>
<%= render 'shared/footer' %>