<head><title>Disciplinas | SE</title></head><%=render 'header'%><%= render 'nav_data' %>
<%= form_with html: {id: 'subject', autocomplete: 'off' } do |form| %>
<div class="input-group mb-3 mt-1">
  <span class="input-group-text">Título</span>
  <input id="title" type="text" name="title" required="required" class="form-control" placeholder="Qual é o nome da cadeira?" aria-label="Título">
  <span class="input-group-text">Fórmula</span>
  <select name='formula' class='form-select mb-1 h-100'>
  <% for i in 0..4 do %>
  <option value="<%= i %>"><%= formula(i) %></option>
  <% end %>
  </select>
</div>
	<%= form.hidden_field 'operation', value: 'add', id: 'operation' %>
<div class='d-grid'>
  <%= form.submit "Submeter Disciplina", class: 'btn btn-primary' %>
</div>
<% end %><br>
<div id="disciplinas" class="row row-cols-1 row-cols-md-2 g-4">
<% @subjects.each do |subject| %>
<div class="card m-1" style="width: 18rem;">
	<%= form_with class: 'd-inline-block', html: { autocomplete: 'off' } do |form| %>
	<%= form.hidden_field 'id', value: subject.id.to_s %>
	<%= form.hidden_field 'evaluability', value: (subject.evaluable == 1 ? '0' : '1') %>
  <button type="submit" 
  name="operation" 
  value="evaluable" 
  class="btn btn-<%=subject.evaluable == 1 ? 'primary' : 'secondary'%> m-1" 
  data-disable-with="🗑"><i class="fa fa-graduation-cap"></i></button>
  <button type='button' class='btn btn-danger display-inline-block m-1' data-bs-toggle="modal" data-bs-target="#eraseModal<%=subject.id.to_s%>"><i class="fa fa-trash"></i></button>
  <div class="bg-opacity-50 bg-dark modal fade" id="eraseModal<%=subject.id.to_s%>" tabindex="-1" aria-labelledby="eraseModalLabel<%=subject.id.to_s%>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eraseModalLabel<%=subject.id.to_s%>">Confirmação</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Tem certeza de que pretende apagar a disciplina <b><%= subject.title %></b>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não...</button>
	        <button type="submit" name="operation" value="delete" class="btn btn-danger" data-disable-with="Certeza!">Certeza!</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
  <div class="card-body">
    <h5 class="card-title"><%= subject.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><strong>Dificuldade:</strong> <%= '★' * subject.difficulty  %><%= '☆' * (5 - subject.difficulty)  %></h6>
    <p class="card-text"><strong>Questões:</strong> <%= subject.questions.size %><br><strong>Fórmula:</strong> <%= formula(subject.formula) %></p>
  </div>
</div>
<% end %>
</div>
</div>