<head><title>Dados-Disciplinas | SE</title></head><%=render 'header'%><%= render 'datas' %>
<p><b>Configurar Disciplinas</b></p>
<%= form_with html: { autocomplete: 'off' } do |form| %>
	<%= form.label :title, 'Nome: ' %>
	<%= form.text_field :title, required: true, class: 'input-data', autofocus: true %>
	<%= form.label :formula, 'Formula: ' %>
	<%= form.number_field :formula, required: true, in: 0..0, value: 0 %>
	<%= form.hidden_field 'operation', value: 'add' %>
	<%= form.submit "Submeter Disciplina", class: 'submitBtn' %>
<% end %>
<p style='margin: auto'>
<% @subjects.each do |subject| %>
	<div class='midbox'>
	<strong><%= subject.title %>:</strong> <br> 
	<strong>Dificuldade:</strong> <%= '★' * subject.difficulty  %><%= '☆' * (5 - subject.difficulty)  %><br>
	<strong>Formula:</strong> <%= formula(subject.formula) %>
	<%= form_with html: { autocomplete: 'off' } do |form| %>
	<%= form.hidden_field 'id', value: subject.id.to_s %>
	<%= form.hidden_field 'operation', value: 'delete' %>
	<%= form.submit "Eliminar", class: 'submitBtn' %>
	</div>
	<% end %>


<% end %>
</p>
</div>