<head><title>Data-Subject | SE</title></head><%=render 'header'%>
<p>Manipulate Subjects</p>
<%= form_with html: { autocomplete: 'off' } do |form| %>
	<%= form.label :title, 'Name: ' %>
	<%= form.text_field :title, required: true %>
	<%= form.label :format, 'Preferred format: ' %>
	<%= form.number_field :title, required: true, in: 0..100, value: 0 %>
	<%= form.hidden_field 'operation', value: 'add' %>
	<%= form.submit "Submit subject", class: 'submitBtn' %>
<% end %>
<p style='margin: auto'>
<% @subjects.each do |subject| %>
	<div class='midbox'>
	<strong><%= subject.title %>:</strong> <br> 
	<strong>Difficulty:</strong> <%= '★' * subject.difficulty  %><%= '☆' * (5 - subject.difficulty)  %>
	<strong>Preferred Format:</strong> <%= subject.preferredformat %>
	<%= form_with html: { autocomplete: 'off' } do |form| %>
	<%= form.hidden_field 'id', value: subject.id.to_s %>
	<%= form.hidden_field 'operation', value: 'delete' %>
	<%= form.submit "Delete", class: 'submitBtn' %>
	</div>
	<% end %>


<% end %>
</p>
</div>