<head><title>Aula: <%= params[:tag] %> | SE</title></head>
<%= audio_tag('class/Shadow/session', autoplay: true, loop: true, id: 'bgm') %>
<div style="height: 100vh; background: url('<%= image_url('bg_school_room2_yuyake') %>'); background-size: cover; )"
class="text-bg-light p-5 overflow-scroll">
<%= react_component('Lesson', {fire: audio_url('class/Shadow/rush'), auth_token: form_authenticity_token, tag: @lesson.tag, points: @points,
sounds: {
  applause: [audio_url('class/Applause1'), audio_url('class/Applause2')],
  mistake: audio_url('class/Buzzer1'), correct: audio_url('class/Chime2'),
  damage: audio_url('class/Damage1'), next: audio_url('class/Shot3',
  input: audio_url('class/Cursor1'), cancel: audio_url('class/Cancel1'))
  } }) %>
</div>

<%= render 'shared/footer' %>